p {
  font-size: 130%;
  font-weight: bold;
  background-color: orange;
  color: darkgreen;
  border: 2px solid black;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  ;
}