p {
  font-size: 100%;
    background-color: skyblue;
  color: darkmagenta;
  border: 1px solid black;
  width: 50%;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  font-family: comics;
  text-align-last: center;
  ;
}

div {
  background-color: lightgoldenrodyellow;
font-family: helvetica;}

